footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #2B384C;
    padding: 16px 0;
}

.name-card {
    width: 208px;
    height: 56px;
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    color: white;
    background-color: #A53DFF;
    border-radius: 50%;
}

.copyright {
    display: flex;
    align-items: center;
    height: 56px;
}

@media(max-width: 480px) {
    footer {
        padding: 32px;
        flex-direction: column;
    }
}
