h1 {
    font-size: 4rem;
    color: #132;
    font-weight: bolder;
}

* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#123;
}

button {
    color: #7B61FF;
    border: 1px solid #7B61FF;
}

button:hover {
    background-color: #7B61FF;
    color: white;
}

@media(max-width: 1320px) {
    h1 {
        font-size: 2rem;
    }
}