.message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 920px;
    scroll-margin-top: 100px;
    position: relative;
}

.message-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:
    radial-gradient(circle at top right, #DA4DF1 1%, transparent 35%),
    radial-gradient(circle at bottom left , #fc8b28 0.1%, transparent 30%),
    radial-gradient(circle at bottom right , #C4F5E9 0.1%, transparent 20%);
    z-index: -1;
    filter: blur(1px);
}

.message {
    display: flex;
    justify-content: center;
    max-width: 1320px;
    width: 100%;
    border-radius: 10px;
    padding: 32px;
    margin: 20px;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
}

.intro-card {
    max-width: 646px;
    width: 100%;
    min-height: 300px;
    color: #87909D;
}

.intro-image {border: 3px solid #87909D;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    max-width: 536px;
    max-width: 646px;
    height: 100%;
    width: 100%;
}

.alt-name {
    display: none;
}

@media(max-width: 1450px) {
    .message-container {
        min-height: 600px;
    }

    .intro-card {
        max-width: 400px;
        width: 100%;
    }

    .intro-image {
        justify-content: center;
    }
}

@media(max-width: 1320px) {
    .intro-contents {
        flex-direction:column-reverse;
        border-radius: 25px;
    }

    .intro-image {
        max-width: 536px;
    }

    .name {
        display: none;
    }

    .message {
        padding: 12px;
        max-width: 710px;
    }

    .alt-name {
        display: flex;
        justify-content: center;
        font-weight: bold;
        margin: 24px 0;
    }
}

@media(max-width: 1280px) {
    .message-container {
        min-height: 750px;
    }
}

@media(max-width: 1024px) {
    .message-container {
        min-height: 500px;
    }
}
