footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    background-color: #7B61FF;
}

@media(max-width: 480px) {
    footer {
        padding: 32px;
        flex-direction: column;
    }
}
