.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

#recommendations {
    display: grid;
    justify-items: center;
    margin-bottom: 60px;
    scroll-margin-top: 110px;
}

.all-recommendations {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-flow: wrap;
}

.recommendation {
    font-style: italic;
    text-align: left;
    max-width: 21.875rem;
    width: 100%;
    padding: 1rem;
    background-color: #EDD8FF;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--primary-shadow);
    margin: 10px;
    border:1px solid gray;
    font-size: 18px;
    height:150px;
    overflow: hidden;
    margin-top: 50px
}

.recommendation span {
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

input, textarea {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
    width: 100%;
    border: 1px solid black;
}

fieldset {
    display: flexbox;
    align-content: center;
    justify-content: center;
    padding: 25px;
    margin-left: 50px;
    margin-right: 50px;
    border: thin solid white;
    width: 50%;
}

button {
    background-color: #fff;
    border: 1px solid #ffcccc;
    color: #ffcccc;
    display: block;
    border-radius: 6px;
    text-align: center;
    margin: 50px;
    padding: 10px;
    width: 2in;
    font-size: 20px;
}

button:hover {
    background-color: #ffcccc;
    border: 1px solid #ffcccc;
    color: #fff;
    display: block;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.fieldset {
    border-radius: 10px;
    border: 1px solid #7B61FF;
    margin-bottom: 60px;
}

.introduction {
  text-align: justify;
  font-size: 30px;
  text-align: center;
  float: left;
  margin-top: 30px;
  margin-bottom: 20px;
  animation-duration: 5s;
  position: relative;
  color:#132238;
}

@media (max-width: 700px) {
    .fieldset {
        border: 0px;
    }
}
